.links {
    font-family: Montserrat, sans-serif;
    text-align: center;
    text-decoration: none;
    color: #81858F;
}
.Main-links {
    text-align: center;
    font-family: Montserrat, sans-serif;
    color: #BCBEC2;
    font-weight: bold;
}